modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"
run = ["sh", "-c", "node bin/api-server.js"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 25227
externalPort = 3000

[userenv]

[userenv.shared]
VITE_API_URL = "https://26e8d07e-eb07-4c40-bb22-662e5f296e88-00-1g3iti7wdtpks.janeway.replit.dev"

[nix]
channel = "stable-25_05"
