modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"
run = ["sh", "-c", "node artifacts/api-server/dist/index.mjs"]
build = ["sh", "-c", "pnpm run build"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_API_URL = "https://26e8d07e-eb07-4c40-bb22-662e5f296e88-00-1g3iti7wdtpks.janeway.replit.dev"
PORT = "8080"

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 9123
externalPort = 3003

[[ports]]
localPort = 9124
externalPort = 3002

[[ports]]
localPort = 9125
externalPort = 5000

[[ports]]
localPort = 9126
externalPort = 5173

[[ports]]
localPort = 9127
externalPort = 6800

[[ports]]
localPort = 9128
externalPort = 4200

[[ports]]
localPort = 25227
externalPort = 3000
